<div class="row">
    <div class="col-sm-6 col-xl-3">
        <!-- Simple card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-2">Contas a pagar</h4>
                <p class="card-text">Gerencie os lançamentos das contas a pagar da sua empresa.</p>
                <div class="text-end">
                    <a href="/Financial/Pay/List" class="btn btn-primary">Gerenciar</a>
                </div>
            </div>
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-3">
        <!-- Simple card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-2">Contas a receber</h4>
                <p class="card-text">Gerencie os lançamentos das contas a receber da sua empresa.</p>
                <div class="text-end">
                    <a href="/Financial/Receive/List" class="btn btn-primary">Gerenciar</a>
                </div>
            </div>
        </div><!-- end card -->
    </div><!-- end col -->
</div>