@page "/dependencyInjection"
@inject NumeroAleatorio NumeroAleatorioUm
@inject NumeroAleatorio NumeroAleatorioDois
@inject IMensagem MensagemSimples
<h3>DependecyInjection</h3>
<div class="row">
    <div class="col-6">
        Valor 1: @NumeroAleatorioUm.NumeroIdentitificador
    </div>
    <div class="col-6">
        Valor 2: @NumeroAleatorioDois.NumeroIdentitificador
    </div>
</div>
<div class="row">
    <div class="col-4">
        Mensagem Email enviada? @MensagemSimples.Enviar("Mensagem")
    </div>
    <div class="col-4">
        Mensagem Email? @MensagemChaveada.Enviar("")
    </div>
    <div class="col-4"></div>
</div>
@code {

}
