@page "/form/data"
@rendermode InteractiveServer
<h3>Formulário</h3>

@if (Mensagem is not null)
{
    <div class="alert alert-info">
        @Mensagem
    </div>
}
<EditForm Model="Usuario" OnSubmit="Acessar" FormName="login">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-12">
            <label for="email">E-mail</label>
            <input id="email" @bind="Usuario.Email" class="form-control" />
        </div>
        <div class="col-12">
            <label for="senha">Senha</label>
            <input id="senha" @bind="Usuario.Senha" class="form-control" />
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-outline-primary">Acessar</button>
        </div>
    </div>
</EditForm>

@code {
    public string? Mensagem { get; set; }
    private Usuario Usuario { get; set; } = new Usuario();

    public void Acessar(EditContext context)
    {
        //TODO - Validar
        if (context.Validate())
        {
            //TODO - Consultar DB | Consultar API
            Mensagem = $"Acessando.....Email: {Usuario.Email} - Senha: {Usuario.Senha}";
        }
    }
}
