@page "/router"
@page "/router/{group}/{id:int?}"

@page "/routing/{*all}"
@attribute [Route(RoutersConstants.RouterHub)]

@inject NavigationManager Navigation
@rendermode InteractiveServer

<h3>RouterHub</h3>
<div>
    Grupo: @Group
    <br />
    Id: @Id
    <br />
    Todos: @All
    <br />
    QueryString: @Nome - @Nome2
    <br />
    <input class="form-control" @bind="Router" />
    <br />
    <button class="btn btn-primary" @onclick="OnClick">Navegar</button>
</div>


@code {

    public string? Router { get; set; }

    [Parameter]
    public string? All { get; set; }

    [Parameter]
    public string? Group { get; set; }

    [Parameter]
    public int? Id { get; set; }

    [SupplyParameterFromQuery]
    public string? Nome { get; set; }

    [SupplyParameterFromQuery(Name = "dono")]
    public string? Nome2 { get; set; }

    public void OnClick()
    {
        if(!string.IsNullOrWhiteSpace(Router))
            Navigation.NavigateTo(Router);
    }
}
