@page "/router"
@page "/router/{group}/{id:int?}"

@page "/routing/{*all}"
@attribute [Route(RoutersConstants.RouterHub)]

<h3>RouterHub</h3>
<div>
    Todos: @All (QueryString: @Nome - @Nome2)
    <br />
    Grupo: @Group
    <br />
    Id: @Id
</div>


@code {
    [Parameter]
    public string? All { get; set; }

    [Parameter]
    public string? Group { get; set; }

    [Parameter]
    public int? Id { get; set; }

    [SupplyParameterFromQuery]
    public string? Nome { get; set; }

    [SupplyParameterFromQuery(Name = "dono")]
    public string? Nome2 { get; set; }
}
