@page "/router"
@page "/routing"

@page "/router/{group}/{id:int}"

<h3>RouterHub</h3>
<div>
    Grupo: @Group
    <br />
    Id: @Id
</div>


@code {
    [Parameter]
    public string? Group { get; set; }

    [Parameter]
    public int? Id { get; set; }
}
