@page "/separation"
@rendermode InteractiveServer
<h3>Separation</h3>

<div>
    <p>HTML: eu sou o <strong>HTML</strong></p>
</div>
<div>
    <p>C#: @DateTime.Now - @Texto</p>
</div>
<div>
    <button class="btn btn-success" @onclick="CarregarJS">Carregar JS</button>
    <button class="btn btn-primary" onclick="javascript:alert('Clicou no botão JS Inline');">
        Botão JS (Inline)
    </button>
    <button class="btn btn-primary" onclick="ShowMessage()">
        Botão JS
    </button>
</div>