@page "/separation"
<h3>Separation</h3>

<div>
    <p>HTML: eu sou o <strong>HTML</strong></p>
</div>
<div>
    <p>C#: @DateTime.Now</p>
</div>
<style>
    p {
        font-size: 10px;
    }
    .nav-item {
        font-size: 10px !important;
    }
</style>
<script>
    alert("eu sou JS");
</script>


@code {
    /*
     * Razor (Engine Template - ASP.NET): HTML/CSS/JS + C#
     * 
     * Blazor: .razor (componentes blazor)
     * ASP.NET .cshtml (MVC & Razor Pages)
     */
}
