@page "/Company/List"

@attribute [Authorize]
@rendermode InteractiveAuto
@inject ICompanyRepository repository
@inject AuthenticationStateProvider provider
<div class="card">
    <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Empresas</h4>
        <div class="flex-shrink-0">
            <a href="/Company/Add" class="btn btn-primary btn-sm material-shadow-none">
                <i class="ri-file-list-3-line align-middle"></i> Cadastrar
            </a>
        </div>
    </div><!-- end card header -->

    <div class="card-body">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Digite sua pesquisa" @bind="SearchWord">
                    <button class="btn btn-outline-success material-shadow-none" type="button" @onclick="OnSearch">Pesquisar</button>
                </div>
            </div>
        <div class="table-responsive mt-4" style="margin-left: -16px; margin-right: -16px;">
            <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                <thead class="text-muted table-light">
                    <tr>
                        <th scope="col">Nome fantasia</th>
                        <th scope="col">CNPJ</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Paginated == null){
                        <tr>
                            <td colspan="4">Carregando...</td>
                        </tr>
                    }
                    else if(Paginated.Items.Count == 0)
                    {
                        <tr>
                            <td colspan="4">Nenhum registro!</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                Mercado Costa
                            </td>
                            <td>
                                123.153.0001/14
                            </td>
                            <td>Quadra 1 Bloco 2 LT 1-5</td>
                            <td>
                                <a href="#" class="btn btn-sm btn-soft-success"><i class=" ri-arrow-right-line me-1"></i>Selecionar</a>
                                <a href="#" class="btn btn-sm btn-soft-info"><i class="ri-edit-line"></i></a>
                                <a href="#" class="btn btn-sm btn-soft-danger"><i class=" ri-delete-bin-line"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="align-items-center mt-4 pt-2 justify-content-between row text-center text-sm-start">
            <div class="col-sm">
                <div class="text-muted">
                    Mostrando <span class="fw-semibold">5</span> de <span class="fw-semibold">25</span> registros.
                </div>
            </div>
            <div class="col-sm-auto  mt-3 mt-sm-0">
                <ul class="pagination pagination-separated pagination-sm mb-0 justify-content-center">
                    <li class="page-item disabled">
                        <a href="#" class="page-link">←</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">1</a>
                    </li>
                    <li class="page-item active">
                        <a href="#" class="page-link">2</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">3</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">→</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {
    private Guid ApplicationUserId;
    private PaginatedList<Company>? Paginated;

    private string SearchWord = string.Empty;
    private void OnSearch()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        await GetAuthenticationUserId();
        Paginated = await repository.GetAll(ApplicationUserId, 1, 0, SearchWord);
    }

    private async Task GetAuthenticationUserId()
    {
        var authenticationState = await provider.GetAuthenticationStateAsync();
        var userId = authenticationState.User.Claims.FirstOrDefault(a => a.Type == ClaimTypes.NameIdentifier);

        if(userId != null)
            Guid.TryParse(userId.Value, out ApplicationUserId);
    }
}
