@page "/Account/Detail/{id:int}"
@rendermode InteractiveServer

@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject IAccountRepository AccountRepository
@inject ILocalStorageService LocalStorage

<PageTitle>
    Conta - Confirmar exclusão
</PageTitle>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Conta - Confirme a exclusão do registro</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-3 col-md-6 mt-3">
                        <div>
                            <label class="form-label">Descrição/Nome</label>
                            <br />
                            @Account!.Description
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6 mt-3">
                        <div>
                            <label class="form-label">Saldo inicial</label>
                            <br />
                            @Account!.Balance.ToString("C")
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6 mt-3">
                        <div>
                            <label class="form-label">Data de abertura da conta</label>
                            <br />
                            @Account!.BalanceDate.ToString("dd/MM/yyyy")
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="d-flex justify-content-between">
                        <a href="/Account/List" class="btn btn-light">Voltar</a>
                        <button @onclick="Remove" type="button" class="btn btn-soft-danger">
                            <i class="ri-delete-bin-line"></i> Confirmar exclusão
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] public int Id { get; set; }

    private Account Account { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        var account = await AccountRepository.Get(Id);

        if (account is not null)
            Account = account;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            if (Account.Id == 0)
            {
                await JS.InvokeVoidAsync("alert", "A conta selecionada não existe no banco!");
                NavigationManager.NavigateTo("/Account/List");
                return;
            }
            var company = await LocalStorage.GetItemAsync<Company>(AppConstants.LocalStorageCompany);

            if (Account!.CompanyId != company!.Id)
            {
                await JS.InvokeVoidAsync("alert", $"A conta não pertence a empresa '{company.LegalName}'!");
                NavigationManager.NavigateTo("/Account/List");
            }
        }
    }

    private async Task Remove()
    {
        await AccountRepository.Delete(Account.Id);

        await JS.InvokeVoidAsync("alert", "Registro excluído com sucesso!");
        NavigationManager.NavigateTo("/Account/List");
    }
}