<div style="border: 1px solid black; padding: 10px;">
    <h3>CounterChild</h3>
    Quantidade atual: @Count
    <br />
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>


@code {
    [Parameter]
    public int Count { get; set; }

    [Parameter]
    public EventCallback IncrementParentEvent {get;set;}

    private void IncrementCount()
    {
        IncrementParentEvent.InvokeAsync();
    }

}
