@page "/counter"
@inject StateContainer State
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @State.Counter</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<CounterChild />

@code {
    private void IncrementCount()
    {
        State.Counter++;
    }
}
