@page "/"
@attribute [Authorize]
@inject ApplicationDbContext DB
@rendermode InteractiveServer

<PageTitle>Painel</PageTitle>
<div class="row">
    <Totalizadores />
    <AccountBalance />
</div>

<AccessLink />