@page "/"
@attribute [Authorize]
@inject ApplicationDbContext DB
@rendermode InteractiveServer

<PageTitle>Painel</PageTitle>
<Gestao.Components.Pages.Painel.Totalizadores />
<div class="row">
                                    <div class="col-xl-4">
                                        <div class="card card-height-100">
                                            <div class="card-header align-items-center d-flex">
                                                <h4 class="card-title mb-0 flex-grow-1">Store Visits by Source</h4>
                                                <div class="flex-shrink-0">
                                                    <div class="dropdown card-header-dropdown">
                                                        <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="text-muted">Report<i class="mdi mdi-chevron-down ms-1"></i></span>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <a class="dropdown-item" href="#">Download Report</a>
                                                            <a class="dropdown-item" href="#">Export</a>
                                                            <a class="dropdown-item" href="#">Import</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end card header -->

                                            <div class="card-body">
                                                <div id="store-visits-source" data-colors="[&quot;--vz-primary&quot;, &quot;--vz-success&quot;, &quot;--vz-warning&quot;, &quot;--vz-danger&quot;, &quot;--vz-info&quot;]" data-colors-minimal="[&quot;--vz-primary&quot;, &quot;--vz-primary-rgb, 0.85&quot;, &quot;--vz-primary-rgb, 0.70&quot;, &quot;--vz-primary-rgb, 0.60&quot;, &quot;--vz-primary-rgb, 0.45&quot;]" data-colors-interactive="[&quot;--vz-primary&quot;, &quot;--vz-primary-rgb, 0.85&quot;, &quot;--vz-primary-rgb, 0.70&quot;, &quot;--vz-primary-rgb, 0.60&quot;, &quot;--vz-primary-rgb, 0.45&quot;]" data-colors-galaxy="[&quot;--vz-primary&quot;, &quot;--vz-primary-rgb, 0.85&quot;, &quot;--vz-primary-rgb, 0.70&quot;, &quot;--vz-primary-rgb, 0.60&quot;, &quot;--vz-primary-rgb, 0.45&quot;]" class="apex-charts" dir="ltr" style="min-height: 300.2px;"><div id="apexchartsbb7bj15w" class="apexcharts-canvas apexchartsbb7bj15w apexcharts-theme-light" style="width: 391px; height: 300.2px;"><svg id="SvgjsSvg2122" width="391" height="300.2" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><foreignObject x="0" y="0" width="391" height="300.2"><div class="apexcharts-legend apexcharts-align-center apx-legend-position-bottom" xmlns="http://www.w3.org/1999/xhtml" style="inset: auto 0px 1px; position: absolute; max-height: 166.5px;"><div class="apexcharts-legend-series" rel="1" seriesname="Direct" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="background: rgb(64, 81, 137) !important; color: rgb(64, 81, 137); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Direct" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Direct</span></div><div class="apexcharts-legend-series" rel="2" seriesname="Social" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="background: rgb(10, 179, 156) !important; color: rgb(10, 179, 156); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Social" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Social</span></div><div class="apexcharts-legend-series" rel="3" seriesname="Email" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="3" data:collapsed="false" style="background: rgb(247, 184, 75) !important; color: rgb(247, 184, 75); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="3" i="2" data:default-text="Email" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Email</span></div><div class="apexcharts-legend-series" rel="4" seriesname="Other" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="4" data:collapsed="false" style="background: rgb(240, 101, 72) !important; color: rgb(240, 101, 72); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="4" i="3" data:default-text="Other" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Other</span></div><div class="apexcharts-legend-series" rel="5" seriesname="Referrals" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="5" data:collapsed="false" style="background: rgb(41, 156, 219) !important; color: rgb(41, 156, 219); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="5" i="4" data:default-text="Referrals" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Referrals</span></div></div><style type="text/css">
      .apexcharts-legend {
        display: flex;
        overflow: auto;
        padding: 0 10px;
      }
      .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {
        flex-wrap: wrap
      }
      .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
        flex-direction: column;
        bottom: 0;
      }
      .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
        justify-content: flex-start;
      }
      .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
        justify-content: center;
      }
      .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
        justify-content: flex-end;
      }
      .apexcharts-legend-series {
        cursor: pointer;
        line-height: normal;
      }
      .apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series, .apexcharts-legend.apx-legend-position-top .apexcharts-legend-series{
        display: flex;
        align-items: center;
      }
      .apexcharts-legend-text {
        position: relative;
        font-size: 14px;
      }
      .apexcharts-legend-text *, .apexcharts-legend-marker * {
        pointer-events: none;
      }
      .apexcharts-legend-marker {
        position: relative;
        display: inline-block;
        cursor: pointer;
        margin-right: 3px;
        border-style: solid;
      }

      .apexcharts-legend.apexcharts-align-right .apexcharts-legend-series, .apexcharts-legend.apexcharts-align-left .apexcharts-legend-series{
        display: inline-block;
      }
      .apexcharts-legend-series.apexcharts-no-click {
        cursor: auto;
      }
      .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {
        display: none !important;
      }
      .apexcharts-inactive-legend {
        opacity: 0.45;
      }</style></foreignObject><g id="SvgjsG2124" class="apexcharts-inner apexcharts-graphical" transform="translate(12, 0)"><defs id="SvgjsDefs2123"><clipPath id="gridRectMaskbb7bj15w"><rect id="SvgjsRect2125" width="375" height="276" x="-4" y="-6" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskbb7bj15w"></clipPath><clipPath id="nonForecastMaskbb7bj15w"></clipPath><clipPath id="gridRectMarkerMaskbb7bj15w"><rect id="SvgjsRect2126" width="373" height="268" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG2127" class="apexcharts-pie"><g id="SvgjsG2128" transform="translate(0, 0) scale(1)"><circle id="SvgjsCircle2129" r="79.80731707317074" cx="184.5" cy="132" fill="transparent"></circle><g id="SvgjsG2130" class="apexcharts-slices"><g id="SvgjsG2131" class="apexcharts-series apexcharts-pie-series" seriesName="Direct" rel="1" data:realIndex="0"><path id="SvgjsPath2132" d="M 184.5 9.21951219512195 A 122.78048780487805 122.78048780487805 0 0 1 307.19857460233624 136.48419180664035 L 264.25407349151857 134.91472467431623 A 79.80731707317074 79.80731707317074 0 0 0 184.5 52.192682926829264 L 184.5 9.21951219512195 z " fill="rgba(64,81,137,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0" data:angle="92.09302325581395" data:startAngle="0" data:strokeWidth="0" data:value="44" data:pathOrig="M 184.5 9.21951219512195 A 122.78048780487805 122.78048780487805 0 0 1 307.19857460233624 136.48419180664035 L 264.25407349151857 134.91472467431623 A 79.80731707317074 79.80731707317074 0 0 0 184.5 52.192682926829264 L 184.5 9.21951219512195 z "></path></g><g id="SvgjsG2135" class="apexcharts-series apexcharts-pie-series" seriesName="Social" rel="2" data:realIndex="1"><path id="SvgjsPath2136" d="M 307.19857460233624 136.48419180664035 A 122.78048780487805 122.78048780487805 0 0 1 128.35956449962072 241.19386286523417 L 148.00871692475346 202.9760108624022 A 79.80731707317074 79.80731707317074 0 0 0 264.25407349151857 134.91472467431623 L 307.19857460233624 136.48419180664035 z " fill="rgba(10,179,156,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1" data:angle="115.11627906976746" data:startAngle="92.09302325581395" data:strokeWidth="0" data:value="55" data:pathOrig="M 307.19857460233624 136.48419180664035 A 122.78048780487805 122.78048780487805 0 0 1 128.35956449962072 241.19386286523417 L 148.00871692475346 202.9760108624022 A 79.80731707317074 79.80731707317074 0 0 0 264.25407349151857 134.91472467431623 L 307.19857460233624 136.48419180664035 z "></path></g><g id="SvgjsG2139" class="apexcharts-series apexcharts-pie-series" seriesName="Email" rel="3" data:realIndex="2"><path id="SvgjsPath2140" d="M 128.35956449962072 241.19386286523417 A 122.78048780487805 122.78048780487805 0 0 1 71.49944663202076 83.97997163542816 L 111.0496403108135 100.7869815630283 A 79.80731707317074 79.80731707317074 0 0 0 148.00871692475346 202.9760108624022 L 128.35956449962072 241.19386286523417 z " fill="rgba(247,184,75,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-2" index="0" j="2" data:angle="85.81395348837208" data:startAngle="207.2093023255814" data:strokeWidth="0" data:value="41" data:pathOrig="M 128.35956449962072 241.19386286523417 A 122.78048780487805 122.78048780487805 0 0 1 71.49944663202076 83.97997163542816 L 111.0496403108135 100.7869815630283 A 79.80731707317074 79.80731707317074 0 0 0 148.00871692475346 202.9760108624022 L 128.35956449962072 241.19386286523417 z "></path></g><g id="SvgjsG2143" class="apexcharts-series apexcharts-pie-series" seriesName="Other" rel="4" data:realIndex="3"><path id="SvgjsPath2144" d="M 71.49944663202076 83.97997163542816 A 122.78048780487805 122.78048780487805 0 0 1 120.53869087765258 27.195424141121947 L 142.9251490704742 63.87702569172926 A 79.80731707317074 79.80731707317074 0 0 0 111.0496403108135 100.7869815630283 L 71.49944663202076 83.97997163542816 z " fill="rgba(240,101,72,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-3" index="0" j="3" data:angle="35.58139534883719" data:startAngle="293.0232558139535" data:strokeWidth="0" data:value="17" data:pathOrig="M 71.49944663202076 83.97997163542816 A 122.78048780487805 122.78048780487805 0 0 1 120.53869087765258 27.195424141121947 L 142.9251490704742 63.87702569172926 A 79.80731707317074 79.80731707317074 0 0 0 111.0496403108135 100.7869815630283 L 71.49944663202076 83.97997163542816 z "></path></g><g id="SvgjsG2147" class="apexcharts-series apexcharts-pie-series" seriesName="Referrals" rel="5" data:realIndex="4"><path id="SvgjsPath2148" d="M 120.53869087765258 27.195424141121947 A 122.78048780487805 122.78048780487805 0 0 1 184.47857076241476 9.219514065175716 L 184.4860709955696 52.1926841423642 A 79.80731707317074 79.80731707317074 0 0 0 142.9251490704742 63.87702569172926 L 120.53869087765258 27.195424141121947 z " fill="rgba(41,156,219,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-4" index="0" j="4" data:angle="31.395348837209326" data:startAngle="328.6046511627907" data:strokeWidth="0" data:value="15" data:pathOrig="M 120.53869087765258 27.195424141121947 A 122.78048780487805 122.78048780487805 0 0 1 184.47857076241476 9.219514065175716 L 184.4860709955696 52.1926841423642 A 79.80731707317074 79.80731707317074 0 0 0 142.9251490704742 63.87702569172926 L 120.53869087765258 27.195424141121947 z "></path></g><g id="SvgjsG2133" class="apexcharts-datalabels"><text id="SvgjsText2134" font-family="Helvetica, Arial, sans-serif" x="257.4218322363572" y="61.69451618387674" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="600" fill="#ffffff" class="apexcharts-text apexcharts-pie-label" style="font-family: Helvetica, Arial, sans-serif;">25.6%</text></g><g id="SvgjsG2137" class="apexcharts-datalabels"><text id="SvgjsText2138" font-family="Helvetica, Arial, sans-serif" x="235.6800988105862" y="219.41311204313246" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="600" fill="#ffffff" class="apexcharts-text apexcharts-pie-label" style="font-family: Helvetica, Arial, sans-serif;">32.0%</text></g><g id="SvgjsG2141" class="apexcharts-datalabels"><text id="SvgjsText2142" font-family="Helvetica, Arial, sans-serif" x="89.24475393116384" y="166.45131010124385" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="600" fill="#ffffff" class="apexcharts-text apexcharts-pie-label" style="font-family: Helvetica, Arial, sans-serif;">23.8%</text></g><g id="SvgjsG2145" class="apexcharts-datalabels"><text id="SvgjsText2146" font-family="Helvetica, Arial, sans-serif" x="107.83713789270635" y="65.79380508710177" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="600" fill="#ffffff" class="apexcharts-text apexcharts-pie-label" style="font-family: Helvetica, Arial, sans-serif;">9.9%</text></g><g id="SvgjsG2149" class="apexcharts-datalabels"><text id="SvgjsText2150" font-family="Helvetica, Arial, sans-serif" x="157.09378288142216" y="34.48408368591329" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="600" fill="#ffffff" class="apexcharts-text apexcharts-pie-label" style="font-family: Helvetica, Arial, sans-serif;">8.7%</text></g></g></g></g><line id="SvgjsLine2151" x1="0" y1="0" x2="369" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine2152" x1="0" y1="0" x2="369" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g></svg><div class="apexcharts-tooltip apexcharts-theme-dark"><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(64, 81, 137);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(10, 179, 156);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(247, 184, 75);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 4;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(240, 101, 72);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 5;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(41, 156, 219);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
                                            </div>
                                        </div> <!-- .card-->
                                    </div> <!-- .col-->

                                    <div class="col-xl-8">
                                        <div class="card">
                                            <div class="card-header align-items-center d-flex">
                                                <h4 class="card-title mb-0 flex-grow-1">Recent Orders</h4>
                                                <div class="flex-shrink-0">
                                                    <button type="button" class="btn btn-soft-info btn-sm material-shadow-none">
                                                        <i class="ri-file-list-3-line align-middle"></i> Generate Report
                                                    </button>
                                                </div>
                                            </div><!-- end card header -->

                                            <div class="card-body">
                                                <div class="table-responsive table-card">
                                                    <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                                        <thead class="text-muted table-light">
                                                            <tr>
                                                                <th scope="col">Order ID</th>
                                                                <th scope="col">Customer</th>
                                                                <th scope="col">Product</th>
                                                                <th scope="col">Amount</th>
                                                                <th scope="col">Vendor</th>
                                                                <th scope="col">Status</th>
                                                                <th scope="col">Rating</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2112</a>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="flex-shrink-0 me-2">
                                                                            <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle material-shadow">
                                                                        </div>
                                                                        <div class="flex-grow-1">Alex Smith</div>
                                                                    </div>
                                                                </td>
                                                                <td>Clothes</td>
                                                                <td>
                                                                    <span class="text-success">$109.00</span>
                                                                </td>
                                                                <td>Zoetic Fashion</td>
                                                                <td>
                                                                    <span class="badge bg-success-subtle text-success">Paid</span>
                                                                </td>
                                                                <td>
                                                                    <h5 class="fs-14 fw-medium mb-0">5.0<span class="text-muted fs-11 ms-1">(61 votes)</span></h5>
                                                                </td>
                                                            </tr><!-- end tr -->
                                                            <tr>
                                                                <td>
                                                                    <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2111</a>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="flex-shrink-0 me-2">
                                                                            <img src="assets/images/users/avatar-2.jpg" alt="" class="avatar-xs rounded-circle material-shadow">
                                                                        </div>
                                                                        <div class="flex-grow-1">Jansh Brown</div>
                                                                    </div>
                                                                </td>
                                                                <td>Kitchen Storage</td>
                                                                <td>
                                                                    <span class="text-success">$149.00</span>
                                                                </td>
                                                                <td>Micro Design</td>
                                                                <td>
                                                                    <span class="badge bg-warning-subtle text-warning">Pending</span>
                                                                </td>
                                                                <td>
                                                                    <h5 class="fs-14 fw-medium mb-0">4.5<span class="text-muted fs-11 ms-1">(61 votes)</span></h5>
                                                                </td>
                                                            </tr><!-- end tr -->
                                                            <tr>
                                                                <td>
                                                                    <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2109</a>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="flex-shrink-0 me-2">
                                                                            <img src="assets/images/users/avatar-3.jpg" alt="" class="avatar-xs rounded-circle material-shadow">
                                                                        </div>
                                                                        <div class="flex-grow-1">Ayaan Bowen</div>
                                                                    </div>
                                                                </td>
                                                                <td>Bike Accessories</td>
                                                                <td>
                                                                    <span class="text-success">$215.00</span>
                                                                </td>
                                                                <td>Nesta Technologies</td>
                                                                <td>
                                                                    <span class="badge bg-success-subtle text-success">Paid</span>
                                                                </td>
                                                                <td>
                                                                    <h5 class="fs-14 fw-medium mb-0">4.9<span class="text-muted fs-11 ms-1">(89 votes)</span></h5>
                                                                </td>
                                                            </tr><!-- end tr -->
                                                            <tr>
                                                                <td>
                                                                    <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2108</a>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="flex-shrink-0 me-2">
                                                                            <img src="assets/images/users/avatar-4.jpg" alt="" class="avatar-xs rounded-circle material-shadow">
                                                                        </div>
                                                                        <div class="flex-grow-1">Prezy Mark</div>
                                                                    </div>
                                                                </td>
                                                                <td>Furniture</td>
                                                                <td>
                                                                    <span class="text-success">$199.00</span>
                                                                </td>
                                                                <td>Syntyce Solutions</td>
                                                                <td>
                                                                    <span class="badge bg-danger-subtle text-danger">Unpaid</span>
                                                                </td>
                                                                <td>
                                                                    <h5 class="fs-14 fw-medium mb-0">4.3<span class="text-muted fs-11 ms-1">(47 votes)</span></h5>
                                                                </td>
                                                            </tr><!-- end tr -->
                                                            <tr>
                                                                <td>
                                                                    <a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">#VZ2107</a>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="flex-shrink-0 me-2">
                                                                            <img src="assets/images/users/avatar-6.jpg" alt="" class="avatar-xs rounded-circle material-shadow">
                                                                        </div>
                                                                        <div class="flex-grow-1">Vihan Hudda</div>
                                                                    </div>
                                                                </td>
                                                                <td>Bags and Wallets</td>
                                                                <td>
                                                                    <span class="text-success">$330.00</span>
                                                                </td>
                                                                <td>iTest Factory</td>
                                                                <td>
                                                                    <span class="badge bg-success-subtle text-success">Paid</span>
                                                                </td>
                                                                <td>
                                                                    <h5 class="fs-14 fw-medium mb-0">4.7<span class="text-muted fs-11 ms-1">(161 votes)</span></h5>
                                                                </td>
                                                            </tr><!-- end tr -->
                                                        </tbody><!-- end tbody -->
                                                    </table><!-- end table -->
                                                </div>
                                            </div>
                                        </div> <!-- .card-->
                                    </div> <!-- .col-->
                                </div>

<div class="row">
    <div class="col-sm-6 col-xl-3">
        <!-- Simple card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-2">Contas a pagar</h4>
                <p class="card-text">Gerencie os lançamentos das contas a pagar da sua empresa.</p>
                <div class="text-end">
                    <a href="javascript:void(0);" class="btn btn-primary">Gerenciar</a>
                </div>
            </div>
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-3">
        <!-- Simple card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-2">Contas a receber</h4>
                <p class="card-text">Gerencie os lançamentos das contas a receber da sua empresa.</p>
                <div class="text-end">
                    <a href="javascript:void(0);" class="btn btn-primary">Gerenciar</a>
                </div>
            </div>
        </div><!-- end card -->
    </div><!-- end col -->
</div>
