@page "/Company/Add"
@rendermode InteractiveServer
@inject IJSRuntime JS
<PageTitle>
    Empresa - Cadastro
</PageTitle>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Cadastrar empresa</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-3 col-md-6">
                        <div>
                            <label for="razaosocial" class="form-label">Razão Social</label>
                            <input type="text" autocomplete="not" class="form-control" id="razaosocial">
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div>
                            <label for="nomefantasia" class="form-label">Nome Fantasia</label>
                            <input type="text" autocomplete="not" class="form-control" id="nomefantasia">
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div>
                            <label for="cnpj" class="form-label">CNPJ</label>
                            <input type="text" autocomplete="not" class="form-control" id="cnpj">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-3 col-md-6">
                        <div>
                            <label for="cep" class="form-label">CEP</label>
                            <input type="text" autocomplete="not" class="form-control" id="cep">
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div>
                            <label for="estado" class="form-label">Estado</label>
                            <input type="text" autocomplete="not" disabled class="form-control" id="estado">
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div>
                            <label for="cidade" class="form-label">Cidade</label>
                            <input type="text" autocomplete="not" disabled class="form-control" id="cidade">
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div>
                            <label for="bairro" class="form-label">Bairro</label>
                            <input type="text" autocomplete="not" disabled class="form-control" id="bairro">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-md-6">
                        <div>
                            <label for="endereco" class="form-label">Endereço</label>
                            <input type="text" autocomplete="not" class="form-control" id="endereco">
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div>
                            <label for="complemento" class="form-label">Completo</label>
                            <input type="text" autocomplete="not" class="form-control" id="complemento">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="d-flex justify-content-between">
                        <a href="/Company/List" class="btn btn-light">Voltar</a>
                        <button class="btn btn-primary">Salvar</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("CompanyMaskInit");
    }
}